{% extends 'base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}
{% block content %}
<body>
  <div style="text-align: center;" class="title">
    <img src="{% static 'images/cnsh_image.svg' %}" class="cnsh_image">
    <h1 style="color:white">
      CNSH_MANAGEMENT에 오신 것을 환영합니다!
    </h1>
  </div >
    <h2 style="text-align: center;" class = "contexts">
      <b>
      로그인 버튼을 클릭해 시작하세요.
      </b>
    </h2>
  <div style="text-align : center;">
    <a href="{% url 'accounts:google_login' %}" >
      <img class = "google_login_image" src="{% static 'web_light_rd_ctn.svg' %}">
    </a>
  </div>
</body>
{% endblock %}