body{
    margin: 0;
}

.title{
    display: flex;             
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to right top, blue, green);
}

.cnsh_image{
    width: 15%;
    height: auto;
}   

.google_login_image{
    margin-bottom: 5%;
    width: 20%;
    height: auto;
}

.contexts{
    margin: 3%;
}